body {
}

p {
    font-size: 12px;
    font-family: Cambria;
    color: darkcyan;
}

.btn-original {
    background-color: white !important;
    height: 65px;
    font-size: 24px;
    border-radius: 5px;
    padding-top: 20px;
    box-shadow: inset 0 0 0 10px #FF5733 !important;
}

tabs {
    background-color: #216369;
    height: 100vh;
}
#search {
    height: 100vh;
    background-color: #FF5733;
}
#chart {
    height: 100vh;
    width: 100vh;
    background-color: ghostwhite;
    color: #581845;
}
#header {
    background-color: #900C3F;
    color: white;
    font-family: 'Palatino Linotype';
    font-size: 36px;
}